$utilities: map-merge(
  $utilities,
  (
    "gradient-bluefox": (
      property: background-image,
      class: gradient,
      values: (
        bluefox: linear-gradient(to bottom, $lbluefox, $dbluefox)
      )
    ),
    "background-clip": (
    property: -webkit-background-clip,
    class: clip,
    values: text
    ),
    "text-fill": (
    property: -webkit-text-fill-color,
    class: fill,
    values: transparent
    ),
    Add a new utilities
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    ),

    // sass list amend
    "align": map-merge(
        map-get($utilities, "align"),
        (
            values: append(
                map-get(map-get($utilities, "align"), "values"),
                sub
            )
        )
    ),

    // sass map amend
    "width": map-merge(
        map-get($utilities, "width"),
        (
            values: map-merge(
                map-get(map-get($utilities, "width"), "values"), 
                (
                    5: 5%,
                    10: 10%,
                    20: 20%
                )
            )
        )
    ),

    // add a custom class
    "fixed-width": (
    property: width,
    class: f-w,
    values: map-merge($fixed-widths, (0: 0))
    )

  )
);


