
// Variables
$enable-gradients:  true;
$lbluefox: #1893F8;
$dbluefox: #024ef2;
$font-family-sans-serif: "Poppins", sans-serif;
// $btn-padding-y: 5rem;

// Create your own map

$custom-theme-colors: (
  "lbluefox":  $lbluefox,
  "dbluefox":  $dbluefox

);

$fixed-widths: (
    1: .25rem,
    2: .50rem,
    3: .75rem
);
// 1893F8
// 024EF2